<div class="red">
    <div class="naslov">Početna stranica</div>
</div>
<div class="red clanci">
    <div class="kolona dva clanak">
        <div class="clanak skracen slika velika"><img class="img clanak" src="img/puppyNaslovna.jpg" alt="slika"></div>
        <div class="clanak skracen tekst"> <a onclick = "loadStranica('views/clanakKompletanView.html')">Naslov</a> </div>
        <div class="clanak skracen detaljno">imeAutora</div>
    </div>
    <div class="kolona dva clanak">
        <div class="clanak skracen slika velika"></div>
        <div class="clanak skracen tekst"> <a href="clanakKompletan.html">Naslov</a> </div>
        <div class="clanak skracen detaljno">imeAutora</div>
    </div>
</div>
<div class="red clanci sakrij">
    <div class="kolona jedan clanak">
        <div class="clanak skracen slika mala"><img class="img clanak" src="img/puppyNaslovna.jpg" alt="slika"></div>
        <div class="clanak skracen tekst"> <a href="clanakKompletan.html">Naslov</a> </div>
        <div class="clanak skracen detaljno">imeAutora</div>
    </div>
    <div class="kolona jedan clanak">
        <div class="clanak skracen slika mala"></div>
        <div class="clanak skracen tekst"> <a href="clanakKompletan.html">Naslov</a> </div>
        <div class="clanak skracen detaljno">imeAutora</div>
    </div>
    <div class="kolona jedan clanak">
        <div class="clanak skracen slika mala"></div>
        <div class="clanak skracen tekst"> <a href="clanakKompletan.html">Naslov</a> </div>
        <div class="clanak skracen detaljno">imeAutora</div>
    </div>
    <div class="kolona jedan clanak">
        <div class="clanak skracen slika mala"></div>
        <div class="clanak skracen tekst"> <a href="clanakKompletan.html">Naslov</a> </div>
        <div class="clanak skracen detaljno">imeAutora</div>
    </div>
</div>
<div class="red clanci">
    <div class="kolona dva clanak">
        <div class="clanak skracen slika velika"><img class="img clanak" src="img/puppyNaslovna.jpg" alt="slika"></div>
        <div class="clanak skracen tekst"> <a href="clanakKompletan.html">Naslov</a> </div>
        <div class="clanak skracen detaljno">imeAutora</div>
    </div>
    <div class="kolona dva clanak">
        <div class="clanak skracen slika velika"><img class="img clanak" src="img/puppyNaslovna.jpg" alt="slika"></div>
        <div class="clanak skracen tekst"> <a href="clanakKompletan.html">Naslov</a> </div>
        <div class="clanak skracen detaljno">imeAutora</div>
    </div>
</div>
<div class="red clanci sakrij">
    <div class="kolona jedan clanak">
        <div class="clanak skracen slika mala"></div>
        <div class="clanak skracen tekst"> <a href="clanakKompletan.html">Naslov</a> </div>
        <div class="clanak skracen detaljno">imeAutora</div>
    </div>
    <div class="kolona jedan clanak">
        <div class="clanak skracen slika mala"><img class="img clanak" src="img/puppyNaslovna.jpg" alt="slika"></div>
        <div class="clanak skracen tekst"> <a href="clanakKompletan.html">Naslov</a> </div>
        <div class="clanak skracen detaljno">imeAutora</div>
    </div>
    <div class="kolona jedan clanak">
        <div class="clanak skracen slika mala"></div>
        <div class="clanak skracen tekst"> <a href="clanakKompletan.html">Naslov</a> </div>
        <div class="clanak skracen detaljno">imeAutora</div>
    </div>
    <div class="kolona jedan clanak">
        <div class="clanak skracen slika mala"><img class="img clanak" src="img/puppyNaslovna.jpg" alt="slika"></div>
        <div class="clanak skracen tekst"> <a href="clanakKompletan.html">Naslov</a> </div>
        <div class="clanak skracen detaljno">imeAutora</div>
    </div>
</div>
<div class="red clanci sakrij">
    <div class="kolona jedan clanak">
        <div class="clanak skracen slika mala"></div>
        <div class="clanak skracen tekst"> <a href="clanakKompletan.html">Naslov</a> </div>
        <div class="clanak skracen detaljno">imeAutora</div>
    </div>
    <div class="kolona jedan clanak">
        <div class="clanak skracen slika mala"></div>
        <div class="clanak skracen tekst"> <a href="clanakKompletan.html">Naslov</a> </div>
        <div class="clanak skracen detaljno">imeAutora</div>
    </div>
    <div class="kolona jedan clanak">
        <div class="clanak skracen slika mala"></div>
        <div class="clanak skracen tekst mala"> <a href="clanakKompletan.html">Naslov</a> </div>
        <div class="clanak skracen detaljno">imeAutora</div>
    </div>
    <div class="kolona jedan clanak">
        <div class="clanak skracen slika mala"></div>
        <div class="clanak skracen tekst"> <a href="clanakKompletan.html">Naslov</a> </div>
        <div class="clanak skracen detaljno">imeAutora</div>
    </div>
</div>